[Unit]
Description=Bridging service for netns %I
Documentation=https://github.com/Jamesits/systemd-named-netns
BindsTo=netns@%i.service
After=network.target netns@%i.service
Conflicts=netns-nat@%i.service

[Install]
WantedBy=network.target
RequiredBy=netns@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVNAME_OUTSIDE=ve-%I0
Environment=DEVNAME_INSIDE=ve-%I1
EnvironmentFile=/etc/default/netns-bridge
EnvironmentFile=-/etc/default/netns-bridge-%I
BindPaths=/usr/bin/netnsinit

ExecStartPre=-/bin/ip link delete ${DEVNAME_OUTSIDE}
ExecStartPre=-/bin/ip link delete ${DEVNAME_INSIDE}

ExecStart=/bin/ip link add ${DEVNAME_OUTSIDE} type veth peer name ${DEVNAME_INSIDE}
ExecStart=-/sbin/tc qdisc del dev ${DEVNAME_INSIDE} root
ExecStart=/bin/ip link set ${DEVNAME_OUTSIDE} master ${BRIDGE}
ExecStart=/bin/ip link set ${DEVNAME_OUTSIDE} up
ExecStart=/bin/ip link set ${DEVNAME_INSIDE} netns %I
ExecStart=/bin/ip netns exec %I /bin/ip link set ${DEVNAME_INSIDE} up

ExecStartPost=/bin/ip netns exec %I /usr/bin/netnsinit bridge %I

ExecStop=-/bin/kill -15 `cat /var/run/netns/dhclient-%i.pid`
ExecStop=-/bin/rm /var/run/netns/dhclient-%i.pid
ExecStop=/bin/ip link delete ${DEVNAME_OUTSIDE}
