[Unit]
Description=Named network namespace %I
Documentation=https://github.com/Jamesits/systemd-named-netns
After=network.target
Before=netns-bridge@%i.service netns-net@%i.service
StopWhenUnneeded=true
BindPaths=/etc/netns/%I/resolv.conf:/etc/resolv.conf

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes

ExecStartPre=-/bin/ip netns delete %I

ExecStart=/bin/ip netns add %I
ExecStart=/bin/umount /var/run/netns/%I
ExecStart=/bin/mount --bind /proc/self/ns/net /var/run/netns/%I

ExecStop=/bin/ip netns delete %I
