[Unit]
Description=Named network namespace %I
Documentation=https://github.com/Jamesits/systemd-named-netns

After=network-pre.target
Before=network.target network-online.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes

ExecStartPre=-/usr/bin/env ip netns delete %I

ExecStart=/usr/bin/env ip netns add %I
ExecStart=/usr/bin/env umount /var/run/netns/%I
ExecStart=/usr/bin/env mount --bind /proc/self/ns/net /var/run/netns/%I

ExecStop=/usr/bin/env ip netns delete %I
