[Unit]
Description=NAT service for netns %I
Documentation=https://github.com/Jamesits/systemd-named-netns
BindsTo=netns@%i.service
After=netns@%i.service
Conflicts=netns-bridge@%i.service

[Install]
WantedBy=network.target
RequiredBy=netns@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVNAME_OUTSIDE=ve-%I0
Environment=DEVNAME_INSIDE=ve-%I1
EnvironmentFile=/etc/default/netns-nat
EnvironmentFile=-/etc/default/netns-nat-%I

ExecStartPre=-/usr/bin/env ip link delete ${DEVNAME_OUTSIDE}
ExecStartPre=-/usr/bin/env ip link delete ${DEVNAME_INSIDE}

ExecStart=/usr/bin/env ip link add ${DEVNAME_OUTSIDE} type veth peer name ${DEVNAME_INSIDE}
ExecStart=-/usr/bin/env tc qdisc del dev ${DEVNAME_INSIDE} root
ExecStart=/usr/bin/env ip link set ${DEVNAME_INSIDE} netns %I
ExecStart=/usr/bin/env ip address add ${GATEWAY_IP}/${CIDR} dev ${DEVNAME_OUTSIDE}
ExecStart=/usr/bin/env ip link set ${DEVNAME_OUTSIDE} up
ExecStart=/usr/bin/env ip netns exec %I /usr/bin/env ip address add ${CLIENT_IP}/${CIDR} dev ${DEVNAME_INSIDE}
ExecStart=/usr/bin/env ip netns exec %I /usr/bin/env ip link set ${DEVNAME_INSIDE} up
ExecStart=/usr/bin/env ip netns exec %I /usr/bin/env ip route add default via ${GATEWAY_IP}
ExecStart=/usr/bin/env iptables -t nat -A POSTROUTING -s ${GATEWAY_IP}/${CIDR} -j MASQUERADE
ExecStart=/usr/bin/env iptables -A FORWARD -i ${DEVNAME_OUTSIDE} -j ACCEPT
ExecStart=/usr/bin/env iptables -A FORWARD -o ${DEVNAME_OUTSIDE} -j ACCEPT

ExecStartPost=/usr/bin/env ip netns exec %I /usr/bin/env netnsinit nat %I

ExecStop=/usr/bin/env iptables -D FORWARD -o ${DEVNAME_OUTSIDE} -j ACCEPT
ExecStop=/usr/bin/env iptables -D FORWARD -i ${DEVNAME_OUTSIDE} -j ACCEPT
ExecStop=/usr/bin/env iptables -t nat -D POSTROUTING -s ${GATEWAY_IP}/${CIDR} -j MASQUERADE
ExecStop=/usr/bin/env ip link delete ${DEVNAME_OUTSIDE}
