[Unit]
Description=NAT service for netns %I
Documentation=https://github.com/Jamesits/systemd-named-netns

BindsTo=netns-tunnel@%i.service
After=netns-tunnel@%i.service
Before=network.target network-online.target
Conflicts=netns-bridge@%i.service

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVNAME_OUTSIDE=vn-%I0
Environment=DEVNAME_INSIDE=vn-%I1
EnvironmentFile=/etc/default/netns
EnvironmentFile=-/etc/default/netns-%I

ExecStart=/usr/bin/env iptables -t nat -A POSTROUTING -s ${IPADDR_OUTSIDE} -j MASQUERADE
ExecStart=/usr/bin/env iptables -A FORWARD -i ${DEVNAME_OUTSIDE} -j ACCEPT
ExecStart=/usr/bin/env iptables -A FORWARD -o ${DEVNAME_OUTSIDE} -j ACCEPT
ExecStart=/usr/bin/env netnsinit nat-access %I up

ExecStart=/usr/bin/env ip netns exec %I /usr/bin/env netnsinit nat %I

ExecStop=/usr/bin/env iptables -D FORWARD -o ${DEVNAME_OUTSIDE} -j ACCEPT
ExecStop=/usr/bin/env iptables -D FORWARD -i ${DEVNAME_OUTSIDE} -j ACCEPT
ExecStop=/usr/bin/env iptables -t nat -D POSTROUTING -s ${IPADDR_OUTSIDE} -j MASQUERADE
ExecStop=/usr/bin/env netnsinit nat-access %I down
