[Unit]
Description=NAT service for netns %I
Documentation=https://github.com/Jamesits/systemd-named-netns

BindsTo=netns-tunnel@%i.service
After=netns-tunnel@%i.service
Before=network.target network-online.target
Conflicts=netns-bridge@%i.service

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVNAME_OUTSIDE=vn-%I0
Environment=DEVNAME_INSIDE=vn-%I1
EnvironmentFile=/etc/default/netns
EnvironmentFile=-/etc/default/netns-%I

ExecStart=/usr/bin/env netnsinit nat %I up outside
ExecStart=/usr/bin/env ip netns exec %I /usr/bin/env netnsinit nat %I up inside

ExecStop=/usr/bin/env ip netns exec %I /usr/bin/env netnsinit nat %I down inside
ExecStop=/usr/bin/env netnsinit nat %I down outside
