[Unit]
Description=Named network namespace %I
Documentation=https://github.com/Jamesits/systemd-named-netns

After=network-pre.target
Before=network.target network-online.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes

# precaution
ExecStartPre=-/usr/bin/env ip netns delete %I

# set up netns and bind it to this service
ExecStart=/usr/bin/flock --no-fork -- /var/run/netns.lock /usr/bin/env ip netns add %I
ExecStart=/usr/bin/env umount /var/run/netns/%I
ExecStart=/usr/bin/env mount --bind /proc/self/ns/net /var/run/netns/%I

# start hook
ExecStart=/usr/bin/env netnsinit raw %I up outside
ExecStart=/usr/bin/env ip netns exec %I /usr/bin/env netnsinit raw %I up inside

# stop hook
ExecStop=/usr/bin/env ip netns exec %I /usr/bin/env netnsinit raw %I down inside
ExecStop=/usr/bin/env netnsinit raw %I down outside

# remove the netns
ExecStop=/usr/bin/env ip netns delete %I
